/* Individual tab styles */

/*****************************/
/* Line Box */
/*****************************/

.tabs-style-linebox nav ul li {
	margin: 0 0.5em;
	-webkit-flex: none;
	flex: none;
}

.tabs-style-linebox nav a {
	padding: 0 1.5em;
	color: #74777b;
	font-weight: 700;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.tabs-style-linebox nav a:hover,
.tabs-style-linebox nav a:focus {
	color: #2CC185;
}

.tabs-style-linebox nav li.tab-current a {
	color: #fff;
}

.tabs-style-linebox nav a::after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: #d2d8d6;
	content: '';
	-webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
	transition: background-color 0.3s, transform 0.3s;
	-webkit-transition-timing-function: ease, cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: ease, cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,100%,0) translate3d(0,-3px,0);
	transform: translate3d(0,100%,0) translate3d(0,-3px,0);
}

.tabs-style-linebox nav li.tab-current a::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.tabs-style-linebox nav a:hover::after,
.tabs-style-linebox nav a:focus::after,
.tabs-style-linebox nav li.tab-current a::after {
	background: #2CC185;
}

@media screen and (max-width: 58em) {
	.tabs-style-linebox nav ul {
		display: block;
		box-shadow: none;
	}
	.tabs-style-linebox nav ul li {
		display: block;
		-webkit-flex: none;
		flex: none;
	}
}

/*****************************/
/* Bar */
/*****************************/

.tabs-style-bar nav ul {
	border: 4px solid transparent;
}

.tabs-style-bar nav ul li a {
	margin: 0 5px;
	background-color: #f7f7f7;
	color: #74777b;
	transition: background-color 0.2s, color 0.2s;
}

.tabs-style-bar nav ul li a:hover,
.tabs-style-bar nav ul li a:focus {
	color: #2CC185;
}

.tabs-style-bar nav ul li a span {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 0.6em;
}

.tabs-style-bar nav ul li.tab-current a {
	background: #2CC185;
	color: #fff;
}

