<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>P R I S M</title>
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/tabs.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/tabstyles.css" />
  		<script src="../static/js/modernizr.custom.js"></script>
		<script src="../static/js/jquery-3.3.1.min.js"></script>
	</head>
	<body>

		<!-- /container -->
		<div class="container">
            <!-- Top Navigation -->
			<div class="codrops-top clearfix">
				<a class="codrops-icon codrops-icon-prev"><span>Previous Page</span></a>
            </div>
			<header class="codrops-header" id="header" style="padding-top:1.5cm; font-family: 'Raleway', Arial, sans-serif; " >
                <h1>Prism : Banteras Berita Palsu<span>Sila Pilih Jenis Berita Anda & Semak</span></h1>
			</header>
			<!-- /section -->
			<section id="section">
				<!-- /tabs -->
				<div class="tabs tabs-style-bar">
					<nav>
						<ul>
							<li><a href="#section-bar-url" class="icon icon-box" id="urlButton"><span>URL</span></a></li>
							<li><a href="#section-bar-text" class="icon icon-box" id="textButton"><span>TEKS</span></a></li>
						</ul>
                    </nav>
					<!-- /content -->
					<div class="content-wrap">
						<section id="section-bar-url">
							<div>
								<textarea class="form-control" id="textarea-url" type="text" name="text" cols="50" rows="6" placeholder="Url atau Pautan..." style="text-align:center; margin:0 auto; resize: none;"></textarea>
							</div>
							<div class="button" style="padding-top:0.5cm; width: 500px; margin: 0 auto;">
                                <nav>
                                    <ul>
                                        <li><a class="icon icon-home" id="button-url" style="background:#74777b; color: #ffff;"><span>Semak Berita</span></a></li>
                                    </ul>
                                </nav>
                            </div>
						</section>

						<section id="section-bar-text">
							<div>
								<textarea class="form-control" id="textarea-text" type="text" name="text" cols="50" rows="6" placeholder="Teks Berita..." style="text-align:center; margin:0 auto; resize: none;"></textarea>
							</div>
                            <div class="button" style="padding-top:0.5cm; width: 500px; margin: 0 auto;">
                                <nav>
                                    <ul>
                                        <li><a class="icon icon-home" id="button-text" style="background:#74777b; color: #ffff;"><span>Semak Berita</span></a></li>
                                    </ul>
                                </nav>
                            </div>
						</section>
					</div>
					<!-- /content -->
				</div>
				<!-- /tabs -->


			</section>
			<!-- /section -->
		</div>
		<!-- /container -->


		<!-- /display result -->
		<div class="codrops-header" id="result" style="padding-top:5cm;">
			<h1><a href="https://app-prism.herokuapp.com/" class="label"></a></h1>
			<h1><span class="probability"></span></h1>
		</div>
		<!-- /display result -->


		<div class="loading" style="padding-top:3.5cm;">
			<div class="cssload-thecube">
          	    <div class="cssload-cube cssload-c1"></div>
          	    <div class="cssload-cube cssload-c2"></div>
          	    <div class="cssload-cube cssload-c4"></div>
          	    <div class="cssload-cube cssload-c3"></div>
            </div>
        </div>

		<!-- /script for show and hide element -->
		<script>
		    var ta = document.querySelector('textarea');
            ta.addEventListener('focus', function()
            {
                autosize(ta);
            });

			$(function() {
			    $(".codrops-header").show();
			    $(".codrops-icon").hide();
				$("#section").hide();
				$("#result").hide();
    			$(".loading").fadeOut(3000, function()
    			{
        			$("#section").fadeIn(2000);
    			});
			});

			$("#urlButton").click(function()
			{
				$("#textButton").show();
				$("#textarea-url").show();
				$("#button-url").show();
				$("#textarea-text").hide();
				$("#button-text").hide();
				$("#result").hide();
				$(".loading").hide();
			});

			$("#textButton").click(function()
			{
				$("#urlButton").show();
				$("#textarea-text").show();
				$("#button-text").show();
				$("#textarea-url").hide();
				$("#button-url").hide();
				$("#result").hide();
				$(".loading").hide();
			});

			$(".codrops-icon").click(function()
			{
                window.location = "http://127.0.0.1:5000/";
			});


            $("#button-url").click(function()
            {
                $(".codrops-header").hide();
                $("#section").hide();
                $(".codrops-icon").show();
                $(".loading").show()
                $(".loading").fadeOut(9000, function()
				{
				    $(".codrops-icon").fadeIn(2000);
					$("#result").fadeIn(2000);
				});
            });

			$("#button-text").click(function()
            {

                $(".codrops-header").hide();
                $("#section").hide();
                $(".codrops-icon").show();
                $(".loading").show()
                $(".loading").fadeOut(9000, function()
				{
                    $(".codrops-icon").fadeIn(2000);
					$("#result").fadeIn(2000);
				});
            });

		</script>
		<!-- / end script for show and hide element -->

		<!-- / script for process url and text -->
		<script type="text/javascript">

			$(document).ready(function()
			{
				$("#button-url").click(function()
				{
					var urlCheck=$("#textarea-url").val();

					if(urlCheck.trim() === "")
					{
						alert ("Tiada Input, Sila cuba lagi") ;
						window.location = "https://app-prism.herokuapp.com/";
					}
					else
					{
						var urlEncode = btoa(urlCheck);

						$.ajax
						({
							url: "/api/verificationfacade/url/" + urlEncode,
							type: "GET",

							success:function(data)
							{
								if(data['error'])
								{
									alert(data['error'])
									window.location = "https://app-prism.herokuapp.com/";
								}
								else
								{
                                    $("#header").hide();
                                    $("#section").hide();
                                    $(".content-wrap").hide();
                                    $("#urlButton").hide();
                                    $("#textButton").hide();

                                    $(".loading").show();

                                    $(".loading").fadeOut(3000, function()
                                    {
                                        $(".codrops-icon").fadeIn(2000);
                                        $("#result").fadeIn(2000);
                                    });

									$(".label").text(data['result']['label'])

									if(data['result']['label']==='Berita Benar')
										$(".probability").text('Kebarangkalian berita anda adalah '+ data['result']['label'] + ' ialah : ' + (parseFloat(data['result']['probability'])).toFixed(5)*100 + '%')
									else
										$(".probability").text('Kebarangkalian berita anda adalah ' + data['result']['label'] + ' ialah : '+ (parseFloat(data['result']['probability'])).toFixed(5)*100 + '%')
								}
							}

						});
					}

				});


				$("#button-text").click(function()
				{
					var textCheck = $("#textarea-text").val();

					if(textCheck.trim() === "")
					{
						alert ("Tiada Input, Sila cuba lagi");
						window.location = "https://app-prism.herokuapp.com/";
					}
					else
					{
						var textNews = textCheck.replace('?/^\s+|\s+$/g','');

						$.ajax
						({
							url: "/api/verificationfacade/news/stance/" + textNews,
							type: "GET",

							success:function(data)
							{

                                $("#header").hide();
                                $("#section").hide();
                                $(".content-wrap").hide();
                                $("#urlButton").hide();
                                $("#textButton").hide();

                                $(".loading").show();

                                $(".loading").fadeOut(3000, function()
                                {
                                        $(".codrops-icon").fadeIn(2000);
                                        $("#result").fadeIn(2000);
                                });


								$(".label").text(data['result']['label'])

								if(data['result']['label']==='Berita Benar')
									$(".probability").text('Kebarangkalian berita anda adalah '+ data['result']['label'] + ' ialah : ' + (parseFloat(data['result']['probability'])).toFixed(5)*100 + '%')
								else
									$(".probability").text('Kebarangkalian berita anda adalah ' + data['result']['label'] + ' ialah : '+ (parseFloat(data['result']['probability'])).toFixed(5)*100 + '%')
							}

						});
					}
				});
			});




		</script>
		<!-- /end script for process url -->

		<script src="../static/js/cbpFWTabs.js"></script>
		<script>
			(function() {
				[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
					new CBPFWTabs( el );
				});

			})();

		</script>
    </body>
</html>